* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

body {
	    background-image: url(blog/1116-43839.jpg);
			background-repeat: no-repeat;
			background-size:cover;
		  }

.main-header {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
	color: black;
	opacity: 0.7;
	line-height: 40%;	
}

h2 {
	font-size: 40px
}

<style type="text/css">
div.background {
  width:650px; /* doboz szélessége */
  height:50%; /* doboz magassága */
  border:1px solid #FB5799; /* külső keret */
}
div.transbox {
  width:550px; /* belső doboz szélessége */
  height:100%; /* belső doboz magassága */
  margin:30px 50px;
  background-color:#ffffff; /* belső doboz háttér színe */
  border:1px solid #57A6C5; /* belső doboz kerete */
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
div.transbox p {
  margin:30px 40px;
  font-weight:normal;
  font-family: 'Work Sans', sans-serif; /* betűtípus */
  font-size: 22px /*betűméret*/
  color:#000000; /* betűszín */
}


